.requests-close {
  border-radius: 3px;
  padding: 5px;
  font-size: 0.8rem;
}

.requests-close:hover {
  cursor: pointer;
  background: hsl(225, 9%, 90%);
}

.requests-title {
  font-size: 18px;
}

.card-requests {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 !important;
  position: absolute;
  right: -16px;
  backdrop-filter: blur(10px);
}

.tag-requests {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 3px 6px 4px;
  margin: 3px;
  white-space: nowrap;
  font-size: 12px;
}

.tag-requests:hover {
  border: 1px solid #0052cc;
  color: #0052cc;
  cursor: pointer;
}

.arrow-requests {
  color: #929eb1 !important;
}

.arrow-requests:hover {
  cursor: pointer;
  color: #212427 !important;
}

.bottom-border {
  border-bottom: solid 1px rgba(106, 115, 129, 0.2);
}
