.li-requests:hover .icon-requests,
.li-reports:hover .icon-reports,
.li-notifications:hover .icon-notifications,
.li-incidents:hover .icon-incidents,
.li-alerts:hover .icon-alerts {
  filter: brightness(2000%);
}

.li-requests:hover .label-requests,
.li-reports:hover .label-reports,
.li-notifications:hover .label-notifications,
.li-incidents:hover .label-incidents,
.li-alerts:hover .label-alerts {
  color: white;
}

.sidebar-label {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
}
