/* .li-requests:hover .icon-requests,
.li-reports:hover .icon-reports,
.li-notifications:hover .icon-notifications,
.li-incidents:hover .icon-incidents,
.li-alerts:hover .icon-alerts {
  filter: brightness(0%);
}

.li-requests:hover .label-requests,
.li-reports:hover .label-reports,
.li-notifications:hover .label-notifications,
.li-incidents:hover .label-incidents,
.li-alerts:hover .label-alerts {
  color: white;
} */

.sidebar-label {
  font-size: 10px;
  color: #212427;
}

.sidebar-item {
  border-radius: 3px;
  transition: 0.3s;
}

.sidebar-item:hover {
  background-color: hsl(217, 17%, 90%);
}

.sidebar {
  background-color: white;
  width: 80px;
  height: 100vh;
  border-top: solid 4px hsl(217, 17%, 90%);
  border-radius: 6px;
}

.sidebar .material-symbols-outlined {
  font-size: 24px;
}
